.card {
  margin-top: 100px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;

  font-family: arial;
  border: 2px solid #047bd5;
}
.title {
  color: grey;
  font-size: 18px;
}

.icon-button {
  background-color: white;
  border-radius: 3.6rem;
  cursor: pointer;
  display: inline-block;
  font-size: 2rem;
  height: 3.6rem;
  line-height: 3.6rem;
  margin: 0 5px;
  position: relative;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 3.6rem;
}

/* Circle */
.icon-button span {
  border-radius: 0;
  display: block;
  height: 0;
  left: 50%;
  margin: 0;
  position: absolute;
  top: 50%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  width: 0;
}
.icon-button:hover span {
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 3.6rem;
  margin: -1.8rem;
}
.github span {
  background-color: #000000;
}
.facebook span {
  background-color: #3b5998;
}
.google-plus span {
  background-color: #db5a3c;
}

/* Icons */
.icon-button i {
  background: none;
  color: white;
  height: 3.6rem;
  left: 0;
  line-height: 3.6rem;
  position: absolute;
  top: 0;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  width: 3.6rem;
  z-index: 10;
}
.icon-button .icon-github {
  color: #000000;
}
.icon-button .icon-facebook {
  color: #3b5998;
}
.icon-button .icon-google-plus {
  color: #db5a3c;
}
.icon-button:hover .icon-github,
.icon-button:hover .icon-facebook,
.icon-button:hover .icon-google-plus {
  color: white;
}

.navbar {
  overflow: hidden;
  background-color: #047bd5;
  position: -webkit-sticky;
  top: 0;
  text-align: center;
  color: white;
}
footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}
.scrolling-wrapper {
  overflow-x: auto;
}

body {
  background-color: black;

  font-family: "system-ui";
}

.card-block {
  height: 500px;
  background-color: black;
  border: none;
  background-position: center;
  transition: all 0.2s ease-in-out !important;
}
.card:hover {
  -webkit-transform: translateY(-15px);
  transform: translateY(-15px);
  box-shadow: none;
  
  transition: .5s;
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}
@media only screen and (min-width: 570px) {
  .horizontalrow{
    background-color:#047bd5;
  }
}
.muu {
  color: #fff;
}
.team {
  text-align: center;
  color: #047bd5;
  text-decoration: underline;
}
.titlename {
  color: rgb(0, 0, 0);
  font-size: 18px;
  text-decoration: bold;
}

.huga {
  text-align: right;
  font-size: 30px;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 80px;
  background: #ccc;
  text-align: center;
  color: black;
  text-decoration: underline;
}
